[Unit]
Description=Start StockTracker

[Service]
Environment=DISPLAY=:0
Environment=XAUTHORITY=/home/kirbypi/.Xauthority
ExecStart=/bin/bash /home/kirbypi/shared/stock_tracker/tools/run_main.sh
Restart=always
RestartSec=10s
KillMode=process
TimeoutSec=infinity
WorkingDirectory=/home/kirbypi/shared/stock_tracker

[Install]
WantedBy=default.target